<settings>
	<starthide>true</starthide>
	<bindings>
		<binding>
			<modifiers>
				<key>ctrl</key>
				<key>alt</key>
			</modifiers>
			<key>F12</key>
			<app refBy="ProcessName">WINDOWSTERMINAL</app>
			<autostart>true</autostart>
			<starthide>true</starthide>
			<systray>true</systray>
		</binding>
	</bindings>
</settings>